html, body {
    background-color: white;
    background-image: url(img/negative-space-cow-pose-model-blue-sky.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
}
/*NEED TO ADJUST FOR MOBILE SIZE */

body, h3, p {
    font-family: 'Playfair Display', serif;
    font-family: 'PT Serif', serif;
}

#h4 {
    font-family: 'Dancing Script', cursive;
}


.timeDate {
    margin-left: 42%;
    display: block;
    padding-bottom: 2%;
}

/*time styling:*/
#display {
	color: #000;
    margin-top: 2%;
    margin-left: auto;
    display: block;
	font-size: 2em;
    opacity: 0.80;
}

/*date styling*/
#date {
  color: #000;
  margin-top: 2%;
  margin-left: auto;
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 0.2em;
  opacity: 0.6;
}

.container {
    text-align: center;
    padding-top: 2%;
}

hr {
    width: 90%;
}

#quote-symbol {
    padding: 11px 5px 52.5px 15px;
}

.quote-box {
    border: 1px solid grey; 
    border-radius: 15px;
    background-color: aliceblue;
    opacity: 0.4;
    padding: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 40%;
    max-width: 100%;
    color: black;
    letter-spacing:0.1em;
    text-align: center;
    text-transform: lowercase;
    line-height: 105%;
    font-size: 2em;
    font-variant: small-caps;
}

.buttons {
/*      border: 1px solid grey; */
      margin-left: 56%;
}

.list-inline {
   display: inline-flex;
   padding: 1%;
}

.btn-default { 
    background-color: white;
    opacity: 0.8;
}

li {
    margin-right: 2%;
}

.page-footer {
    color: white;
    font-family: 'Dancing Script', cursive;
    padding-top: 10%;
    margin-bottom: 5%;
}

footer p {
    padding: 0;
    margin: 0;
    font-family: 'Dancing Script', cursive;
}



/*NEED TO ADJUST MEDIA QUERIES:*/

@media (max-width: 750px) {
    
    .quote-box {
        margin-left: 20%;
        margin-right: 10%;
    }
    
    .buttons {
/*      border: 1px solid grey; */
      margin-left: 30%;
    }
    
    footer {
    position: fixed;
    height: 5%;
    bottom: 0;
    width: 100%;
    }
}





